body {
  margin: 0px;
  padding: 0px;
  font-weight: bolder;
  background-color: rgb(175, 179, 187);
}
.container {
  text-align: center;
  margin-top: 4%;
  margin-left: 26%;
  width: 50%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-radius: 19px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}
table {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  padding-right: 10px;
  padding-top: 5px;
}
button {
  padding: 20px;
  font-size: larger;
  border-style: none;
  border-radius: 30px;
  background: linear-gradient(145deg, #fff9ff, #d6d2da);
  box-shadow: 5px 5px 5px #5f5d61, -5px -5px 5px #ffffff;
  cursor: pointer;
  /* clip-path: ellipse(50% 42% at 50% 50%); */
}
.cancel {
  background-color: rgb(202, 202, 29);
}
input {
  width: 60%;
  height: 100px;
  font-size: 30px;
  border-style: none;
  margin-bottom: 15px;
  margin-top: 0px;
  text-align: right;
}
.equal-to {
  display: flex;
  width: 130px;
  display: flex;
  justify-content: center;
}
.last-row {
  display: inline-block;
}
button:hover {
  background-color: red;
}

h1 {
  text-align: center;
  font-family: cursive;
  color: rgb(71, 71, 71);
  margin-bottom: 0px;
  padding-bottom: 0px;
}
